.login_top_bg {
	background-image: url(../../images/admin/login-top-bg.gif);
	background-repeat: repeat-x;
}
.body{
	background-color: #EEF2FB;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	font-size: 12px;
}
table{font-size: 12px;}
.login-buttom-bg {
	background-image: url(../../images/admin/login-buttom-bg.gif);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}
.Submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #629DAE;
	text-decoration: none;
	background-image: url(../../images/admin/Submit_bg.gif);
	background-repeat: repeat-x;
}
.login_bg {
	background-image: url(../../images/admin/login_bg.jpg);
	background-repeat: repeat-x;
}
.login_bg2 {
	background-image: url(../../images/admin/login-content-bg.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.admin_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 100%;
	position: �̶�;
	line-height: 38px;
	text-align: right;
	padding-right: 20px;
}
.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}
.admin_topbg {
	background-image: url(../../images/admin/top-right.gif);
	background-repeat: repeat-x;
}
.txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left_topbg {
	background-image: url(../../images/admin/content-bg.gif);
	background-repeat: repeat-x;
}
.admin_toptxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A8091;
	height: 18px;
	width: 100%;
	overflow: hidden;
	position: �̶�;
}

.left_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #395a7b;
}
.left_bt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(../../images/admin/top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}

.left_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #666666;
}
.left_txt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #000000;
}
.nowtable {
	background-color: #e1e5ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.left_txt3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #003366;
	text-decoration: none;
}



.left_ts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FF6600;
}
.line_table {
	border: 1px solid #CCCCCC;
}
.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	border: 1px solid #B5D0D9;
	background-image: url(../../images/admin/right_smbg.jpg);
	background-repeat: repeat-x;
}
.sec2 {
	FONT-WEIGHT: bold;
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	background-color: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.MM a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(../../images/admin/menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
a:link {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
body a:hover {
	font-size: 12px;
	color: red;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}


.MM a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(../../images/admin/menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}


  body.loginpage{
  	margin-left: 0px;
  	margin-top: 0px;
  	margin-right: 0px;
  	margin-bottom: 0px;
  	background-color: #1D3647;
  }
  body.loginpage input#Submit{
    border: none;
    background: #4D6D8A;
    color:#fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  body.loginpage input#Submit:hover{
	color: red;
  	background: #ccc;
  	border: 1px #888 dashed;
  }
  body.loginpage input.button.cancelbutton:hover{
  	color: red;
  	background: #ccc;
  	border: 1px #888 dashed;
  }
  body.loginpage input.button.cancelbutton{
    border: none;
    background: #4D6D8A;
    color:#fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 42px;
  }

body.loginpage img.verify{
	vertical-align: middle;
	width: 65px;
	height: 20px;
	cursor: pointer;
}
.login-buttom-txt{
	cursor: pointer;
}
html body.loginpage table tbody tr td table.login_bg tbody tr td table tbody tr td table#table211 tbody tr td form table#table212 tbody tr td.top_hui_text input.editbox4,
html body.loginpage table tbody tr td table.login_bg tbody tr td table tbody tr td table#table211 tbody tr td form table#table212 tbody tr td.top_hui_text input.editbox4{
	width: 200px;
}
html body.loginpage table tbody tr td table.login_bg tbody tr td table tbody tr td table#table211 tbody tr td form table#table212 tbody tr td.top_hui_text input.wenbenkuang{
	width: 130px;
}
html body.loginpage .login-buttom-txt{
	padding-top: 15px;
	display: block;
}



html body.loginpage a.aclickhrer{
	border-bottom: 1px green dashed;
	padding-bottom: 2px;
	color: red;
	font-weight: bolder;
}

html body.welcomebody table tbody tr td table tbody tr td table#secTable{
	cursor: pointer;
}
.curdbuttonbox{
	text-align: right;
}
.curdbuttonbox span{
	margin-right: 10px;
}
.curdbuttonbox span.adduser{
	background: url(../../images/icons/0012104.gif) no-repeat;
	padding-left: 17px;
}

.curdbuttonbox span.edituser{
	background: url(../../images/icons/0012106.gif) no-repeat;
	padding-left: 17px;
}

span.deluser{
	background: url(../../images/icons/0012105.gif) no-repeat center left;
	padding-left: 20px;
	margin-left: 20px;
	margin-right: 5px;
	float: right;
}

a.historygoback{
	background: url(../../images/icons/001210325.gif) no-repeat;
	padding-left: 17px;
}

.listtable thead tr td{
	background: none repeat scroll 0 0 #F1F1e1;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #FFFFFF;
    color: #666666;
    font-size: 13px;
    font-weight: bolder;
}
.listtable thead tr td a.desc{
	background: url(../../images/icons/001210129.gif) no-repeat 0 2px;
	padding-left: 17px;
}
.listtable thead tr td a.asc{
	background: url(../../images/icons/001210167.gif) no-repeat 0 2px;
	padding-left: 17px;
}
.listtable thead tr td a{
	font-size: 13px;
}
.listtable{
	width: 100%;
	text-align: center;
}
.listtable td {
    padding-left: 8px;
}
.listtable .nickname{
	text-align: left;
}
table.listtable {
    border-spacing: 1px;
    color: #666666;
}
.listtable tbody tr td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 4px 4px 4px 8px;
}
table.listtable tfoot tr td{
	padding: 0;
}
table.listtable tbody tr:hover td{
	background: #E8F6FE;
}
.listtable tbody tr.row0 td{
	background: none repeat scroll 0 0 #F0F0F0;
    border-top: 1px solid #FFFFFF;
}
div.result.page{
	margin-top: 10px;
	text-align: right;
}
div.searchform form{
	margin: 0 0 5px 0;
	text-align: right;
	/*width: 300px;*/
	float: right;
}
div.searchform form input.searchtext{
	width: 200px;
	height: 20px;
}
div.searchform form input.searchbutton{
	height: 26px;
	cursor: pointer;
}
td.top_hui_text{
	text-align: left;
}
td.left_txt{
	text-align: left;
}
.hidden{
	display: none;
}
div.kuaijiecaozuo{
	border-top: 1px #ccc solid;
	margin: 10px 0;
	padding: 5px 0;
}
div.kuaijiecaozuo table tr td{
	text-align: center;
}

div.kuaijiecaozuo table tr td img{
	width: 60px;
	border: none;
	margin: 0 10px;
}

span.newsblock{
	margin-left: 100px;
}
span.newsblock input,
span.newsblock label{
	vertical-align: middle;
}
div.divtextareabox{
	height: 0;
	overflow: hidden;
}

.hidden{
	display: none;
}
.red{color: red;}
form.postappform table{
	position: relative;
}

form.postappform table img.applogo{
	position:absolute;
	top: 0px;
	left:830px;
	width: 55px;
	height: 55px;
	border: 1px #ccc solid;
	padding: 2px;
	border-radius: 5px;
	display: none;
}
span.isdownload{
	margin-left: 10px;
}
.articledownlink{
	display: none;
}
.show{
	display: table-row;
}
button#buttonUpload{
	color: red;
	font-weight: bolder;
}
span.addnewanswer{
	margin-left: 390px;
	color: red;
	font-weight: bolder;
	cursor: pointer;
}
select.answeridentify{
	width: 36px;
}
input.answeridentifyid{
	background: none;
	text-align: right;
	border: none;
	height: 20px;
	line-height: 20px;
}
input.answercontentid{
	border: none;
	border-bottom: 1px #ccc solid;
	width: 400px;
	background: none;
	height: 20px;
	line-height: 20px;
	color: #333;
	font-style: italic;
}
input.rightanswerid{
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}
.rightansweridtd{
	vertical-align: middle;
	padding-left: 10px;
}
tr.oushu{
	background: #f2f2f2;
}
div.answertpl{
	height: 0;
	overflow: hidden;
	display: block;
}
img.delansweritemimg{
	vertical-align: middle;
	margin-left: 20px;
	cursor: pointer;
}
input.addformbuttons{
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
	background: #005EAC;
	border: none;
	color: #fff;
	font-weight: bolder;
	padding: 0px 15px;
	margin-right: 30px;
	margin-bottom: 20px;
	cursor: pointer;
	width: auto;
}
a.adminlogobox,
a.adminlogobox:hover{
	display: block;
	width: 297px;
	height: 52px;
	background: url(../../images/admin/logo.gif) no-repeat left center;
	font-size: 20px;
	color: #fff;
	padding-left: 65px;
	padding-top: 5px;
}
a.adminlogobox span{
	font-size: 14px;
	margin-left: 10px;
}
img.useradavtar{
	position: absolute;
	left: 730px;
	width: 150px;
	padding: 2px;
	border: 1px #ddd solid;
	border-radius: 10px;
}
.yysk{
	color:#ddd;
	border: none;
	background: none;
}
.sdqr{
	
}
.websitetongjitd,.websitetongjitd a,.websitetongjitd a:hover{
	color: green;
	font-size: 18px;
	line-height: 30px;
}